.main {
  display: grid;
  min-height: 100vh;
  gap: 30px;
  width: max(60vw, 1000px);
  align-content: center;
}

.header {
  text-align: center;
  font-size: x-large;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.cssTyping h1 {
  border-right: .20em solid rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
}

.cssTyping h1 {
  width: auto;
  opacity: 0;
  -webkit-animation: type3 1s steps(1, end), blink .5s step-end infinite alternate;
  animation: type3 1s steps(1, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@media screen and (max-width: 777px) {
  .main {
    padding: 40px;
    display: grid;
    min-height: 100vh;
    gap: 30px;
    width: 90%;
    align-content: center;
  }

  .content {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .content textarea {
    font-size: 18px;
  }
}